export(fit_Ring)
export(fit_Ring_simple)
import(RColorBrewer)
import(conicfit)
importFrom("grDevices", "col2rgb", "colorRampPalette", "densCols")
importFrom("graphics", "abline", "axis", "frame", "legend", "lines", "points", "title", "arrows", "plot")
importFrom("stats", "dist", "median", "smooth.spline")
